
<div class="tc-canvas layout layout-column layout-fill">

  <md-toolbar class="md-theme-indigo">
    <div  class="md-toolbar-tools">
    <h1>{{vm.project.name}}</h1>
    <span class="flex"></span>
    <!-- ng-class="{'raised md-accent md-hue-2':expanded===false}"  -->
    <md-button ng-click="createHypothesis()" class="" aria-label="Add Hypothesis" label="Add Hypothesis">
      <md-icon md-svg-icon="av:ic_queue_24px" class=""></md-icon>
      Add Hypothesis
    </md-button>
    <md-button ng-click="expandAll(false)" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="navigation:ic_fullscreen_exit_24px" class=""></md-icon>
    </md-button>
    <md-button ng-click="expandAll(true)" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="navigation:ic_fullscreen_24px" class=""></md-icon>
    </md-button>
    <md-button ng-click="toggleScale()" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="action:ic_tab_unselected_24px" class=""></md-icon>
    </md-button>
    </div>
  </md-toolbar>

  <md-content class="tc-canvas-content layout layout-column flex">
    <div ng-class="{'scale':scale}">


    <tc-hypothesis-row ng-repeat="hypothesi in vm.hypothesis track by hypothesi._id" hypothesi="hypothesi">

    </tc-hypothesis-row>
    </div>
  </md-content>

</div>
