<div layout="column" layout-fill>
  <md-toolbar class="md-theme-green md-primary">
    <h1 class="md-toolbar-tools">Edit hypothesis</h1>
  </md-toolbar>

  <md-content flex>
  <form name="hypothesis" layout-padding>

    <md-input-container class="flex md-default-theme md-input-has-value">
            <label for="input_153">Description</label>
            <input ng-model="vm.hypothesis.name">
    </md-input-container>

    <md-input-container class="flex md-default-theme md-input-has-value">
            <label for="input_153">Current Test</label>
            <input ng-model="vm.hypothesis.test_version" disabled>
    </md-input-container>

  </form>
  </md-content>

  <div layout="row" layout-align="center end">
    <md-button class="md-primary" ng-click="save()">Save</md-button>
    <md-button class="md-warning" ng-click="remove()">Delete</md-button>

  </div>
</div>
