
    <div class="test-row layout layout-row layout-fill">

      <div class="layout layout-column flex-25"  ng-mouseenter="showOptions=true" ng-mouseleave="showOptions=false" >

        <div class="flex layout layout-column">
                <!-- <img src="{{avatar}}" class="md-avatar" alt="{{testCard.name}}" /> -->
                <h3 class="editable" contenteditable="true" ng-model="vm.testCard.name"></h3>
                <div class="layout layout-column flex" ng-if="vm.testCard.expanded">
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">assigned to:</p>
                    <p class="md-caption flex editable" contenteditable="true" ng-model="vm.testCard.assigned_to"></p>
                  </div>
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">deadline:</p>
                    <p class="md-caption flex editable" contenteditable="true" ng-model="vm.testCard.deadline"></p>
                  </div>
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">duration:</p>
                    <p class="md-caption flex editable" contenteditable="true" ng-model="vm.testCard.duration"></p>
                  </div>
                </div>
        </div>

        <div style="height:48px;">
        <div class="layout layout-row" ng-show="showOptions">
          <md-button ng-click="vm.testCard.expanded = !vm.testCard.expanded"  class="md-icon-button" aria-label="Settings" ng-if="!vm.testCard.expanded">
            <md-icon md-svg-icon="navigation:ic_expand_more_24px" class=""></md-icon>
          </md-button>
          <md-button ng-click="vm.testCard.expanded = !vm.testCard.expanded" class="md-icon-button" aria-label="Settings" ng-if="vm.testCard.expanded">
            <md-icon md-svg-icon="navigation:ic_expand_less_24px" class=""></md-icon>
          </md-button>
          <md-button ng-click="removeTestCard(vm.testCard._id)" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="content:ic_clear_24px" class=""></md-icon>
          </md-button>
        </div>
        </div>
      </div>


      <tc-test-card
      test-card="vm.testCard"
      state="backlog"
      next="build">
      </tc-test-card>

      <tc-learn-card test-card="vm.testCard" learning="vm.learning"></tc-learn-card>

    </div>
