
    <div class="test-row layout layout-row layout-fill">

      <div class="layout layout-column flex-25"  ng-mouseenter="showOptions=true" ng-mouseleave="showOptions=false" >

        <md-list class="flex">
              <md-list-item class="">
                <!-- <img src="{{avatar}}" class="md-avatar" alt="{{testCard.name}}" /> -->
                <div class="layout layout-column flex">
                  <h3 class="editable" contenteditable="true" ng-model="testCard.name"></h3>
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">assigned to:</p>
                    <!-- <p class="md-caption flex editable" contenteditable="true" ng-model="testCard.assigned_to"></p> -->
                    <div class="flex autocomplete">
                      <md-contact-chips
                        ng-model="assigned_to"
                        md-contacts="contacts"
                        md-contact-name="name"
                        md-contact-image="image"
                        placeholder="To">
                    </md-contact-chips>
                    </div>
                  </div>
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">deadline:</p>
                    <p class="md-caption flex editable" contenteditable="true" ng-model="testCard.deadline"></p>
                  </div>
                  <div class="layout layout-row layout-fill">
                    <p class="md-caption flex-25">duration:</p>
                    <p class="md-caption flex editable" contenteditable="true" ng-model="testCard.duration"></p>
                  </div>
                </div>
              </md-list-item>
        </md-list>

        <div style="height:48px;">
        <div class="layout layout-row" ng-show="showOptions">
          <md-button ng-click="testCard.expanded = !testCard.expanded"  class="md-icon-button" aria-label="Settings" ng-if="!testCard.expanded">
            <md-icon md-svg-icon="navigation:ic_expand_more_24px" class=""></md-icon>
          </md-button>
          <md-button ng-click="testCard.expanded = !testCard.expanded" class="md-icon-button" aria-label="Settings" ng-if="testCard.expanded">
            <md-icon md-svg-icon="navigation:ic_expand_less_24px" class=""></md-icon>
          </md-button>
          <md-button ng-click="removeTestCard(testCard._id)" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="content:ic_clear_24px" class=""></md-icon>
          </md-button>
        </div>
        </div>
      </div>


      <tc-test-card
      test-card="vm.testCard"
      state="backlog"
      next="build">
      </tc-test-card>

      <tc-learn-card test-card="vm.testCard"></tc-learn-card>

    </div>
