<tc-canvas ng-show="!spinner" project-id="{{projectId}}" project="project"></tc-canvas>

<!-- <div layout="column">

<md-toolbar class="md-theme-indigo">
  <div  class="md-toolbar-tools">
  <h1>{{project.name}}</h1>
  <span class="flex"></span>
  <md-button class="md-icon-button" aria-label="Settings">
    <md-icon ng-click="testCard.expanded = !testCard.expanded" md-svg-icon="navigation:ic_fullscreen_24px" class=""></md-icon>
  </md-button>
  </div>
</md-toolbar>


<md-content layout-padding>

  <div ng-if="spinner" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <tc-canvas ng-show="!spinner" project-id="{{projectId}}" project="project"></tc-canvas>

</md-content>
</div> -->

<!-- <div class="project-detail container">
  <h1>Here are the details of the project</h1>
  <form name="form" ng-submit="save()" novalidate>
    <input class="form-control" type="text" placeholder="name" ng-model="project.name" />
    <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" value="Save" />
      <input class="btn" type="button" ng-click="reset()" value="Reset" />
    </span>
  </form>
</div> -->
