<learning-card class="learning-card layout layout-column flex">

        <div class="layout layout-column flex"  ng-show="showResult()">
          <div ng-class="{'flex':!vm.testCard.expanded}">
            <h3 class="md-title" style="margin-top:5px;">We Learned:</h3>
            <p class="md-body-1 layout editable" contenteditable="true" ng-model="vm.learning.learning"></p>
          </div>
          <div class="flex" ng-if="vm.testCard.expanded">
            <!-- <md-divider ></md-divider> -->
            <h3 class="md-title">We observed:</h3>
            <p class="md-body-1 layout editable" contenteditable="true" ng-model="vm.learning.observation"></p>
            <!-- <md-divider ></md-divider> -->
            <h3 class="md-title">Next Steps:</h3>
            <p class="md-body-1 layout editable" contenteditable="true" ng-model="vm.learning.next_steps"></p>
          </div>
          <div class="result-container layout layout-row layout-fill layout-align-center-center" ng-show="showResult()">
            <!-- <p class="md-caption flex-25">Result:</p> -->
            <div class="flex layout layout-row layout-align-center-center">
              <md-button aria-label=""
              ng-click="toggleResult('invalid')"
              ng-class="{'md-raised md-warn md-hue-2 active':vm.learning.result=='invalid', 'none-selected':vm.learning.result===''}"
              class="layout state-icon-container layout-align-center-center flex">
                <md-icon md-svg-icon="content:ic_block_24px" class="state-icon flex"></md-icon>
                <span ng-show="vm.learning.result==='invalid'">invalid</span>
              </md-button>
              <md-button aria-label=""
              ng-click="toggleResult('inconclusive')"
              ng-class="{'md-raised md-accent md-hue-2 active':vm.learning.result=='inconclusive', 'none-selected':vm.learning.result===''}"
              class="layout state-icon-container layout-align-center-center flex">
                <md-icon md-svg-icon="content:ic_gesture_24px" class="state-icon flex"></md-icon>
                <span ng-show="vm.learning.result==='inconclusive'">inconclusive</span>
              </md-button>
              <md-button aria-label=""
              ng-click="toggleResult('valid')"
              ng-class="{'md-raised md-accent md-hue-2 active':vm.learning.result=='valid', 'none-selected':vm.learning.result===''}"
              class="layout state-icon-container layout-align-center-center flex">
                <md-icon md-svg-icon="action:ic_check_circle_24px" class="state-icon flex"></md-icon>
                <span ng-show="vm.learning.result==='valid'">valid</span>
              </md-button>
            </div>
          </div>

      </div>


</learning-card>
