<div layout="column" layout-fill>

  <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Back" ng-click="vm.back()">
            <md-icon md-svg-icon="navigation:ic_chevron_left_24px"></md-icon>
          </md-button>
          <h2>
            <span>Edit Hypothesis</span>
          </h2>
        </div>
    </md-toolbar>


  <md-content flex>
  <form name="hypothesis" layout-padding>

    <md-input-container class="flex md-default-theme md-input-has-value">
            <label for="input_153">Description</label>
            <input ng-model="vm.hypothesi.name">
    </md-input-container>

    <md-input-container class="flex md-default-theme md-input-has-value">
            <label for="input_153">Current Test</label>
            <input ng-model="vm.hypothesi.test_version" disabled>
    </md-input-container>

  </form>
  </md-content>

  <div layout="row" layout-align="center end">
    <md-button class="md-primary" ng-click="vm.hypothesi.save()">Save</md-button>
    <md-button class="md-warning" ng-click="remove()">Delete</md-button>

  </div>

</div>
