<div layout="column" layout-fill>

  <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Back" ng-click="vm.back()">
            <md-icon md-svg-icon="navigation:ic_chevron_left_24px"></md-icon>
          </md-button>
          <h2>
            <span>Edit</span>
          </h2>
        </div>
    </md-toolbar>


  <md-content flex>
    <form name="text-justify" layout-padding>
      <md-input-container ng-repeat="(key, value) in vm.testCard" class="flex md-default-theme md-input-has-value">
              <label for="input_153">{{::key}}</label>
              <input ng-model="vm.testCard[key]">
      </md-input-container>
    </form>

    <div layout="row" layout-align="center end">
      <md-button class="md-primary" ng-click="save()">Save</md-button>
    </div>

  </md-content>

  <div layout="row" layout-align="center end">
    <md-button class="md-primary" ng-click="vm.testCard.save()">Save</md-button>
    <md-button class="md-warning" ng-click="remove()">Delete</md-button>

  </div>

</div>
