<div>
<br>
<section class="layout layout-column">

  <div class="hypothesis flex layout layout-column layout-padding" style="margin-bottom:20px;">
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <h2 class="md-headline editable flex" contenteditable="true" ng-model="vm.hypothesi.name"></h2>
        <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="addTestCard(vm.hypothesi._id)" class="md-button" aria-label="">
                    <md-icon md-svg-icon="image:ic_add_to_photos_24px" class=""></md-icon>
                    Add Test Card
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="removeHypothesis()" class="" aria-label="" label="">
                    <md-icon md-svg-icon="content:ic_clear_24px" md-menu-align-target></md-icon>
                    Delete Hypothesis
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
      </div>
    </md-toolbar>
  </div>

  <test-container class="test-container layout layout-column flex">

    <tc-row ng-repeat="testCard in vm.testCards track by testCard._id" test-card="testCard" hypothesi="vm.hypothesi"></tc-row>

  </test-container>

  </section>

<br>
<md-divider ></md-divider>
</div>
